.form {
  min-width: 400px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 18px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

.submit-button {
  background-color: #4f5488;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
